*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

html {
  inline-size: 100%;
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin: 0 auto;*/
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  /*inline-size: 100%;
  inline-size: 1200px;*/
  block-size: 100%;
  /*block-size: 534px;*/
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  inline-size: 100%;
  max-inline-size: 1200px;
  /*block-size: 100%;
  max-block-size: 534px;*/
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 18px;
  inline-size: 100%;
  max-inline-size: 711px;
  block-size: 100%;
}

.result__video-container {
  position: relative;
  inline-size: 100%;
  max-inline-size: 711px;
  block-size: 100%;
  max-block-size: 386px;
  /*padding-block-end: 16px;*/
}

.result__video {
  display: block;
  inline-size: 711px;
  block-size: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /*block-size: 100%;*/
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #fff;
  text-align: left;
  padding-block-end: 5px;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
}

/* Имеется ввиду поле ввода для названия города */
input {
 font-family: inherit;
 background-color: transparent;
 color: rgb(255 255 255 / 0.7);
 border: none;
 margin: 1px;
 padding: 1px;
 inline-size: fit-content;
 border-block-start: 1px solid rgb(255 255 255 / 0.7);
 border-block-end: 1px solid rgb(255 255 255 / 0.7);
}

input::placeholder {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;  
}

input:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {
  inline-size: 225px;
  block-size: 27px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*padding-block-start: 5px;*/
  padding-block-end: 7px;
  gap: 15px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  inline-size: 20px;
  block-size: 20px;
  border: 1px solid #fff;
  background-color: transparent;
}

input[type="checkbox"]:checked + span {
  inline-size: 18px;
  block-size: 18px;
  margin: 1px;
  outline: 1px solid #fff;
  outline-offset: 2px;
  background-color: #fff;
} /* выбранный */

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
  /*margin: 1px;*/
}

.search-form__label > span:hover {
  text-decoration: underline;
}

input {
  appearance: none;
}

.button {
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color: inherit;
  border: 1px solid #fff;
  background-color: transparent;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
}

.more-button {
  flex-grow: 1;
  inline-size: 399px;
  block-size: 34px;
}

button:active {
  background-color: rgb(255 255 255 / 0.3);
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

button:hover {
  text-decoration: underline;
}

.content__details {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  max-inline-size: 394px;
  block-size: 100%;
  justify-content: flex-start;
  gap: 26px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
  text-align: left; 
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  /*block-size: 100%;
  max-block-size: 298px;*/
  block-size: 298px;
  inline-size: 100%;
  max-inline-size: 394px;
  overflow-y: auto;
}

.content__list-item:not(:last-child) {
  margin-block-end: 26px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
  border: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link:active {
  background-color: rgb(255 255 255 / 0.3);
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__video-card-description-container {
  max-inline-size: 200px;
  /*max-block-size: 101px;*/
  overflow: hidden;
}

.content__video-card-description-container h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  padding-block-end: 11px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  inline-size: 100%;
  max-inline-size: 194px;
  block-size: 100%;
  max-block-size: 107px;
  padding: 2px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.preloader-template {
  position: relative;
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: 1px solid #fff;
  background-color: transparent;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
}

.more-button {
  flex-grow: 1;
  inline-size: 368px;
  block-size: 34px;
}